# Accept VMware license agreement
vmaccepteula

# set root password
rootpw --iscrypted $6$zzw94gt90Tm$dtfuCgjBf1ambua0qxSnk/.rVVXOCM85iaJ/l384YYgMU.CZIP3OySqUQzQqaBGHqFUeNB1nfxv6W.EDzMP8n1

install --firstdisk --overwritevmfs

keyboard 'US Default'

network --bootproto=dhcp --device=vmnic0
reboot


# firstboot script
%firstboot --interpreter=busybox

# enable sshd and shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
